<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="categories content">
      <h2>All Movie Categories</h2>
      <% categories.forEach(category => { %>
        <div class="category">
          <h3><%= category.name %></h3>
          <form action="/categories/<%= category.id %>/delete" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      <% }) %>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
